{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
  <div class="row">
    <div class="col">
      <h3 class="logo-font mb-4">Shopping Cart</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if cart_items %}
      <div class="table-responsive rounded"></div>
      {% else %}
      <p class="lead mb-5">Your Cart is empty.</p>
      <a href="{% url 'products' %}" class="btn btn-outlook-black btn-lg border-black">
        <span class="fa-icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="pl-2">Keep Shopping</span>
      </a>

      {% endif %}
    </div>
  </div>
</div>



<footer class="bg-dark text-white footer">
  <div class="row">
    <div class="col">
      <h3 class="text-warning">Contact Us</h3>
      <p class="phone">Phone: +353 123 456 789</p>
      <p>Email: designer@silks.com</p>
    </div>
  </div>
  <div class="text-center">
    <p class="text-center">Copyright&copy;designersarees</p>
  </div>
</footer>
{% endblock %}