{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-5">
  <div class="row">
    <div class="col">
      {% if cart_items %}
      <h3 class="logo-font mb-4">Shopping Cart</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <div class="table-responsive rounded">
        <table class="table table-sm table-bordered">
          <thead class="text-black">
            <tr class="text-center">
              <th scope="col">Product Image</th>
              <th scope="col">Product Info</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          {% for item in cart_items %}

          <tr>
            <td class="p-3">
              <!-- {% if item.product.image %} -->
              <a href="{{ item.product.image.url }}">

                <img class="my-auto rounded" src="{{ item.product.image.url}}" alt="{{ item.product.name }}" width="100"
                  height="100"></a>
              <!-- {% else %}
                        <img class="rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" width="100" height="100">
                        {% endif %} -->
            </td>

            <td class="py-3 w-25">
              <p class="my-0"><b>{{ item.product.name}}</b></p>
              <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper}}</p>
            </td>
            <td class="py-3">
              <p class="my-0">€{{ item.product.price }}</p>
            </td>
            <td class="py-3">
              <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                {% csrf_token %}
                <div class="form-group w-50 mx-auto">
                  <div class="input-group">
                    <button type="button" id="minus-btn" class="minus-btn buttons btn-outlook-black w-25">-</button>
                    <input class="form-control text-center" type="text" value="{{ item.quantity }}" maxlength="2"
                      minlength="1" name="quantity" required />
                    <button type="button" id="add-btn" class="add-btn buttons btn-outlook-black w-25">+</button>
                  </div>
                </div>
              </form>
              <a class="update-link text-info ml-5 mb-2"><small>Update</small></a>
              <a class="remove-link text-danger float-right mr-5 mb-2"
                id="remove_{{ item.item_id}}"><small>Remove</small></a>
            </td>
            <td class="py-3 w-25 text-center">
              <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
            </td>

          </tr>
          {% endfor %}
          <tr>
            <td colspan="5" class="pt-5 text-right">
              <h6><b>Cart Total: €{{ cart_total|floatformat:2 }}</b></h6>
              <h6>Shipping Charge: €{{ shipping|floatformat:2 }}</h6>
              <p><small>vat included in this Price</small></p>
              <h4 class="mt-4"><b>Grand Total: €{{ grand_total|floatformat:2 }}</b></h4>
              {% if free_shipping_delta > 0 %}
              <p class="mb-1 text-danger">
                You could get free Shipping by spending just <b>€{{ free_shipping_delta}}</b> more!</p>
              {% endif %}

            </td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">
              <a href="{% url 'products' %}" class="btn btn-outlook-black rounded-0 btn-lg">
                <span class="fa-icon">
                  <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
              </a>
              <a href="{% url 'checkout' %}" class="btn btn-outlook-black rounded-0 btn-lg">
                <span>Secure Checkout</span>
                <span class="fa-icon">
                  <i class="fas fa-lock"></i>
                </span>
              </a>
            </td>
          </tr>
        </table>
      </div>
      {% else %}
      <div class="text-center">
        <p class="lead mb-5"><i class="fas fa-shopping-cart large"></i> Cart is empty.</p>
        <p>Looks like you have no item in your Shopping cart.</p>
        <a href="{% url 'products' %}" class="btn btn-outlook-black btn-lg border-black">
          <span class="fa-icon">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span class="pl-2">Return To Shop</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{block.super }}

<script>
  // for plus button onclick
  $('#add-btn').click(function () {
    $(this).prev().val(+$(this).prev().val() + 1);
  });
  // for minus button onclick
  $('#minus-btn').click(function () {
    if ($(this).next().val() > 0) $(this).next().val(+$(this).next().val() - 1);
  });
</script>
<script>
  // for Edit button on click
  $('.update-link').click(function (e) {
    var form = $(this).prev('.update-form');
    form.submit();
  })

  // for delete button on click
  $('.remove-link').click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var url = `/cart/remove/${itemId}/`;
    var data = {
      'csrfmiddlewaretoken': csrfToken
    }

    $.post(url, data)
      .done(function () {
        location.reload();
      });
  })
</script>


{% endblock %}
