<form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group w-50 mx-auto">
      <div class="input-group">
        <button type="button" class="minus-btn buttons btn-outlook-black w-25">-</button>
        <input class="form-control text-center" type="text" value="{{ item.quantity }}" maxlength="2"
          minlength="1" name="quantity" required />
        <button type="button" class="add-btn buttons btn-outlook-black w-25">+</button>
      </div>
    </div>
  </form>
  <a class="update-link text-info ml-5 mb-2"><small>Update</small></a>
  <a class="remove-link text-danger float-right mr-5 mb-2"
    id="remove_{{ item.item_id}}"><small>Remove</small></a>