{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row h-100">
        <div class="col-7 col-md-6 new-arrivals">
            <h3 class="logo-font text-black"><b>New Arrivals are here</b></h>
        <!-- </div> -->
        <!-- <div class="shop-now"> -->
            <h4>
                <a href="{% url 'products' %}" class="btn btn-lg rounded-0 text-uppercase py-1 shop-now-btn">Shop Now</a>
            </h4>
        </div>
    </div>
</div>

</div>
<footer class="bg-dark text-white footer">
  <div class="row">
    <div class="col">
      <h3 class="text-warning">Contact Us</h3>
      <p class="phone">Phone: +353 123 456 789</p>
      <p>Email: designer@silks.com</p>
    </div>
  </div>
  <div class="text-center">
    <p class="text-center">Copyright&copy;designersarees</p>
  </div>
</footer>
{% endblock %}