#profile-update, #profile-input .form-control {
    color: black;
}

#profile-update, #profile-input input::placeholder {
    color: rgb(170, 183, 196);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: rgb(170, 183, 196);
}