@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box; 
}

html {
    /* height: 100%; */
}

body {
    background: url('/media/home-image-1.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Open Sans", cursive;
    color: #000;
}
/*---------------------------------------------------- base logo */
.logo {
    width: 7%;
    height: 7%;
    border-radius: 20%;
    margin-top: 15px;
}

.header {
    display: flex;
}

