@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

.bg {
    height: 255vh;
    background: url('/media/home-image.jpg') center no-repeat;
    background-size: cover;
    font-family: "Open Sans", cursive;
    color: #000;
    margin-bottom: 0;

}
.header-container {
    padding-top: 120px;
}

/*---------------------------------------------------- base logo */

.logo {
    width: 7%;
    height: 7%;
    border-radius: 20%;
    margin-top: 15px;
}

.title {
    display: flex;
    color: white;
}


.fa-icon {
    align-items: center;
    display:inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.logo-link {
    width: fit-content;
    
}

.logo-font {
    text-transform: uppercase;
}

.new-arrivals {
    margin-top: 10em;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    
}

.shop-now-btn {
    background: black;
    color: white;
    min-width:160px;
}

.btn-black {
    background: #fff;
    color: #000;
    border: 2px solid black;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #000;
    color: #fff;
}

.btn-outlook-black {
    background: #000;
    color: #fff;
    border: 1px solid black;
}

.btn-outlook-black:hover,
.btn-outlook-black:active,
.btn-outlook-black:focus {
    background: #fff;
    color: #222;
}


.btt-link,
.update-link,
.remove-link {
    cursor: pointer;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/*---------------------------------------------------------Products page */
.card {
    border: 2px solid #000;
}

.img-fluid {
    width: 280px;
    height: 300px;
}
.img-fluid-detail {
    width: 350px;
    height: 400px;
}

.cart-img {
    width: 200px;
    height: 200px;
}

.wishlist {
    color: rgb(235, 29, 63)
}

/*---------------------------------------------------------Product-detail page */
/*----------------------------Reviews */
.review-box {
    border: 1px solid black;
    width: 60%;
}

/*---------------------------------------------------------Toast message box */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-plyover {
    overflow: visible;

}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

/*----------------------------for login,signup and logout pages*/

.allauth-form-inner-content {
    /* margin-left: 200px; */
    float: left;
    
}

.allauth-form-inner-content p {
    color: #6c757d;
    margin-bottom: 40px;
 }
 
 .allauth-form-inner-content input {
     border-color: #000;
     border-radius: 5px;
 
 }

 .allauth-form-inner-content label:not([for='id_remember']) {
     display: none;
 }

 .allauth-form-inner-content input::placeholder {
     color: #aab7c4;
 }

 .allauth-form-inner-content button,
 .allauth-form-inner-content input[type='submit'] {
     font-weight: 400;
     display: inline-block;
     color: #fff;
     text-align: center;
     vertical-align: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-color: #000;
     border: 1px solid #000;
     padding: .375rem .75rem;
     font-size: 1rem;
     line-height: 1.5;
     border-radius: 5px;

     /* Standard bootstrap btn transitions */
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }

 .allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #000;
    background-color: #fff;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: rgb(24, 136, 241); /* text-info */
    background-color: #fff;
}

/*----------------------------Product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}



/*---------------------------------------------------------Media Queries */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    
}

/*----------------------------Media query max 992px */
@media (max-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 20px;
    }
    /* .new-arrivals {
        margin-top: 350px;
    } */
    .new-arrivals h3 {
        font-size: 20px;
    }
    .product-margin {
        margin-top: 50px;
    }

    .display-4 .logo-font .text-black {
        font-size: 2rem;
    }
}

/*----------------------------Media query max 772px */
@media (max-width: 772px) {
    .product-margin {
        margin-top: 120px;
    } 
}

/*----------------------------Media query max-500px */
@media (max-width: 500px) {
    .mobile-heading {
        font-size: 20px;
    }
    .nav-link {
        padding: 8px;
    }
    
    .product-margin {
        margin-top: 160px;
    }
    .new-arrivals h3 {
        font-size: 17px;
    }
    .new-arrivals {
        margin-left: 80px;
    }
  
}

/*----------------------------Media query max-350px */
@media (max-width: 350px) {
    
    
    .product-margin {
        margin-top: 150px;
    }

}