<div class="toast rounded-0 border-top-0 toasts">
    <div class="arrow-up arrow-success"></div>
        <div class="w-100 toast-capper bg-success"></div>
            <div class="toast-header bg-white text-dark">
                <strong class="mr-auto">Success!</strong>
                <button type="button" class="mb-1 ml-2 text-dark close" data-dismiss="toast" aria-label="Close">
                </button>
            </div>
        <div class="toast-body bg-white">
            {{ message }}
        </div>
    
</div>