<div class="toast rounded-0 border-top-0 toasts" data-autohide="false">
        <div class="w-100 toast-capper bg-warning"></div>
            <div class="toast-header bg-white text-warning">
                <strong class="mr-auto">Warning!</strong>
                <button type="button" class="mb-1 ml-2 text-dark close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        <div class="toast-body bg-white">
            {{ message }}
        </div>
    
</div>